[safe]
	directory = /home/brunoluz/Documentos/Projetos
	directory = /home/brunoluz/Documentos/Projetos
	directory = /home/brunoluz/Documentos/Projetos/api-guards-test
[user]
	name = Bruno Luz
	email = bruno.luz@caf.io
[core]
	editor = code --wait
[alias]
	s = !git status
